[Unit]
Description=FreeIPA Password Reset Service
After=network.target remote-fs.target

[Service]
Type=simple
User=ldap-passwd-reset
Group=ldap-passwd-reset
WorkingDirectory=/opt/ldap-passwd-reset/django-app/PasswordReset/
ExecStart=/opt/ldap-passwd-reset/django-app/virtualenv/bin/python /opt/ldap-passwd-reset/django-app/PasswordReset/manage.py runserver
Restart=always
RestartSec=20
PrivateTmp=true

[Install]
WantedBy=multi-user.target
